#password_check_display {
    visibility: hidden;
    position: absolute;
}
 

#password_check_display ul {
    list-style: none;
    list-style-type: none;
}

#password_check_display li {
    width: 30vw; 
    border-radius: 10px;
}

#password_match_message {
    visibility: hidden; 
    position: absolute; 
    width: 30vw; 
}

